.to_do_li{
    list-style:none;
    position:relative;
    margin-bottom:5%;
    &__input{
        font-size: 15px;
        position: relative;
        box-sizing: border-box;
        list-style: none;
        width: 100%;
        height: 24px !important;
        border: solid 3px;
        border-radius: 6px;
        background: #FFFFFF;
        padding-left: 17%;
        font-family: PressStart2P;
    }
    &__sequence{
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 5%;
        transform: translate(-5%,-50%);
    }
}