.button_home{
    position: absolute;
    width: 285px;
    height: 108px;
    display: block;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    background: #FFFFFF;
    border-radius: 11px;
    z-index: 3;

    &:active{
        transform: translate(-50%, -50%);
    }
}
.button_home__text{
    position:absolute;
    font-size: 34px;
    font-family: 'PressStart2P';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FC0000;
}
.button_home__shadow{
    position: absolute;
    width: 285px;
    height: 108px;
    display: block;
    top: calc(60% + 8px);
    left: 50%;
    transform: translate(-50%, -50%);

    background: #E8E8E8;
    border-radius: 11px;
    z-index: 2;
}