$standart_button_mini_height:33px;

.button_mini{
    position: absolute;
    width: 75%;
    height: $standart_button_mini_height;
    background: white;
    border-radius: 11px;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%,0%);
    z-index: 3;
    @media screen and (min-width:1400px){
        height: calc($standart_button_mini_height * 1.5);
        border-radius: calc(11px * 1.5);
    }
    &__text{
        position:absolute;
        font-size: 15px;
        text-align: center;
        top: 50%;
        font-family: 'PressStart2P';
        left: 50%;
        color: #FC0000;
        transform: translate(-50%,-50%);
        @media screen and (min-width:1400px){
            font-size: calc(15px * 1.5);
        }
    }
    &:active{
        transform: translate(-50%,10%);
    }
}
.button_mini_shadow{
    position: absolute;
    width: 75%;
    height: $standart_button_mini_height;
    background: #E8E8E8;
    border-radius: 11px;
    left: 50%;
    bottom: calc(5% - 7px);
    transform: translate(-50%,0%);
    @media screen and (min-width:1400px){
        height: calc($standart_button_mini_height * 1.5);
        border-radius: calc(11px * 1.5);
    }
}