.set_place{
    &__title{
        position: relative;
        width: -webkit-fit-content;
        left: 50%;
        top: 15%;
        transform: translate(-50%,-15%);
        font-family: 'PressStart2P';
        font-size: 29px;
        text-align: center;
        color: #F55050;
        @media screen and (min-width:1400px) {
            font-size: calc(29px * 1.5);
        }
        @media screen and (max-width:320px) {
            height: calc(35px / 1.5);
            font-size: calc(29px / 1.5);
        }
    }
    &__timer{
        position: relative;
        width: -webkit-fit-content;
        height: 55px;
        left: 50%;
        top: 25%;
        transform: translate(-50%,-25%);
        font-size: 34px;
        text-align: center;
        color: #FFFFFF;
        @media screen and (min-width:1400px) {
            height: 55px * 1.5;
            font-size: 34px * 1.5;
        }
        @media screen and (max-width:320px) {
            height: calc(55px / 1.5);
            font-size: 28px;
        }
}
}
.menu_buttons{
    position:absolute;
    width:100%;
    bottom:5%;
    height:20%;
    display:flex;
    flex-direction:row;
}