.repeat_ul{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    text-align: center;
    width: 100%;
    max-width: 180px;
    height: 84px;
    @media screen and (min-width:1400px){
        max-width: calc(180px * 1.5);
        height: calc(84px * 1.5);
    }
    @media screen and (max-width: 720px) {
        width: calc(180px / 1.25);
        height: calc(84px / 1.25);
    }
    @media screen and (max-width: 320px) {
        width: calc(180px / 1.35);
        height: calc(84px / 1.35);
    }
    @media screen and (max-width: 320px) {
        width: calc(180px / 1.5);
        height: calc(84px / 1.5);
    }
    &__arrow{
        height:25%;
        position:absolute;
        left:98%;
        top:70%;
        transform:translate(-98%,-70%);
        border:solid white;
        border-radius:10px;
        background-color:white;
        z-index: 1;
        @media screen and (min-width:1400px){
            border-radius: calc(10px * 1.5);
        }
    }}
    .li{
        list-style: none;
        position: relative;

        &__input_repeat{
            padding-top: 2px;
            text-align: center;
            font-size: 11px;
            position: absolute;
            flex: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 50%;
            height: 90%;
            background-color: #FFFFFF;
            border-radius: 3px;
            font-family: PressStart2P;

        @media screen and (min-width:1400px) {
            padding-top: calc(2px * 1.5);
            font-size: calc(11px * 1.5);
            border-radius: calc(3px * 1.5);
        }
        }
        &__time_repeat{
            margin-bottom: 6px;
            width: 100%;
            height: 100px;
            background-color: #000000;
            border-radius: 8px;
            display: flex;
            @media screen and (min-width:1400px) {
                height: calc(100px * 1.5);
                border-radius: calc(8px * 1.5);
                margin-bottom: calc(6px * 1.5);

            }
        }
        &__time_type_repeat{
            display: none;
            padding-top: 4px;
            text-align: center;
            flex:1;
            top: 50%;
            transform: translateY(-50%);
            font-size: 8px;
            color: #000000;
            right: 3%;
            position: absolute;
            width: 65%;
            height: 12px;
            background-color: #FFFFFF;
            border-radius: 4px;
            @media screen and (min-width:1400px) {
                font-size: calc(8px * 1.5);
                padding-top: calc(4px * 1.5);
                height: calc(12px * 1.5);
                border-radius: calc(4px * 1.5);
            }
        }
    }