$standart_width:596px;
$standart_height:456px;

*{
    margin: 0%;
    padding: 0%;
}

.background{
    background-color: #F2BDCF;
    position: absolute;
    height: 100%;
    z-index: -1;
    width: 100%;
    min-height: 445px;
}
.box{
    position: absolute;
    top:50%;
    left: 50%;
    width:$standart_width;
    height: $standart_height;
    transform:translate(-50%, -50%);
    @media screen and (min-width:1400px) {
        width: calc($standart_width * 1.5);
        height: calc($standart_height * 1.5);
    }
    @media screen and (max-width:450px){
        width: 100%;
        height: 100%;
        transform: none;
        left: 0%;
        top: 0%;
    }
    &__page{
        width: 100%;
        background-color: #a5c6b1;
        height: 100%;
        position: relative;
        border-radius: 35px;
        z-index: 2;
        @media screen and (max-width:450px){
            width: 100%;
            max-width: 100%;
            height: 100%;
            border-radius: 0%;   
        }
    }
}
    .shadow{
        width: 100%;
        height: calc($standart_height - 55%);
        background-color: #7F9B89;
        position: absolute;
        border-radius: 35px;
        z-index: 1;
        left: 50%;
        top: calc(80% + 37px);
        transform: translate(-50%,-50%);

        @media screen and (min-width:1400px) {
            height: calc(($standart_height * 1.5) - 55%);
        }
    }
.set_place{
    position: relative;
    width: 80%;
    height: 62%;
    background-color: #FFE793;
    border-radius: 19px;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-30%);
    display: flex;
    flex-direction: row;
    font-family: PressStart2P;
    @media screen and (max-width:450px){
        flex-direction: column;
        top: 20%;
        height: 60%;
    }
}
@font-face {
    font-family: "PressStart2P";
    src: url("./font/PressStart2P-Regular.ttf") format("truetype");
}