.time_setter_work{
    padding-top: 2px;
    text-align: center;
    font-size: 11px;
    position: absolute;
    flex: 0;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    height: 14px;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-family: PressStart2P;
}
.time_type{
    padding-top: 4px;
    text-align: center;
    flex:1;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
    color: #000000;
    right: 3%;
    position: absolute;
    width: 65%;
    height: 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.place_time{
    margin-bottom: 6px;
    width: 100%;
    height: 24px;
    background-color: #000000;
    border-radius: 8px;
    display: flex;
}
.place_ul{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    text-align: center;
    width: 70%;
    max-width: 180px;
}
.place_li{
    list-style: none;
    position: relative;
}